<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/8750d952-239b-4913-aa8a-325424e07daa/resourceGroups/Staging/providers/Microsoft.Web/sites/bizvue-staging-os-api</ResourceId>
    <ResourceGroup>Staging</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://bizvue-staging-os-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b6f7c061-c5e0-4647-8939-10fc9efa5b89</ProjectGuid>
    <PublishUrl>https://bizvue-staging-os-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$bizvue-staging-os-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>